md-sidenav.md-sidenav-left(
  md-component-id='sidenav',
  md-whiteframe='3',
  md-is-locked-open="$mdMedia('gt-sm')"
)
  md-content
    md-list.np
      md-toolbar
        h1.md-toolbar-tools Admin site
      md-list-item(ui-sref="admin.dashboard")
        md-icon dashboard
        p Dashboard

      md-divider

      md-list-item(ui-sref="admin.account")
        md-icon group
        p Account manager

      md-divider

      md-list-item(ui-sref="admin.category")
        md-icon local_offer
        p Category manager

      md-divider

      md-list-item(ui-sref="admin.application")
        md-icon apps
        p Application manager

      md-divider

md-content(
  flex,
  layout="column",
  ui-view=""
)
