div(
  flex,
  layout="column",
  layout-padding
)
  h1.md-display-1 Login
  form(
    name="form",
    ng-submit="vm.login(form)",
    novalidate="",
    flex,
    layout="column"
  )
    md-input-container
      label Email

      input(
        type="email",
        name="email",
        ng-model="vm.user.email",
        required
      )

      div(ng-messages="form.email.$error")
        p(ng-message="required") Please enter your email
        p(ng-message="email") This is not an email

    md-input-container
      label Password

      input(
        type="password",
        name="password",
        ng-model="vm.user.password",
        required,
        ng-minlength="3"
      )

      div(ng-messages="form.password.$error")
        p(ng-message="required") Please enter your password.
        p(ng-message="minlength") Password must be at least 3 characters.

    div(ng-messages="form.message.$error")
      p(ng-message="mongoose") {{ vm.errors.message }}

    div
      button.md-button.md-primary(type="submit") Login
      a.md-button(ui-sref="signup") Register
