div(
  flex,
  layout="column",
  layout-padding
)
  h1.md-display-1 Login
  form(
    name="form",
    ng-submit="vm.login(form)",
    novalidate="",
    flex,
    layout="column"
  )
    md-input-container
      label Email

      input(
        type="email",
        name="email",
        ng-model="vm.user.email",
        required
      )

      div(ng-messages="form.email.$error && vm.submitted")
        p(ng-message="required") Please enter your email

    md-input-container
      label Password

      input(
        type="password",
        name="password",
        ng-model="vm.user.password",
        required
      )

      div(ng-messages="form.password.$error && vm.submitted")
        p(ng-message="required") Please enter your password.

    div
      button.md-button.md-primary(type="submit") Login
      a.md-button(ui-sref="signup") Register
