div(
  flex,
  layout="row"
  layout-align="center center"
)
  div(
    flex,
    flex-sm="50",
    flex-md="33",
    flex-lg="25",
    layout="column"
  )

    md-card
      md-card-header
        md-card-header-text
          span.md-title.text-center Login
      form(
        name="form",
        ng-submit="vm.login(form)",
        novalidate="",
      )
        md-card-content(layout="column")
          md-input-container
            label Email

            input(
              type="email",
              name="email",
              ng-model="vm.user.email",
              required
            )

            div(ng-messages="form.email.$error")
              p(ng-message="required") Please enter your email
              p(ng-message="email") This is not an email

          md-input-container
            label Password

            input(
              type="password",
              name="password",
              ng-model="vm.user.password",
              required,
              ng-minlength="3"
            )

            div(ng-messages="form.password.$error")
              p(ng-message="required") Please enter your password.
              p(ng-message="minlength") Password must be at least 3 characters.

          div(ng-messages="vm.errors")
            p(ng-message="login") {{ vm.errors.login }}

        md-card-actions
          button.md-button.md-primary(type="submit") Login
          a.md-button(ui-sref="signup") Register
