div(
  flex,
  layout="column",
  layout-padding
)
  h1.md-display-1 Edit user

  form(
    name='form',
    ng-submit='adminAccountEdit.changeUserProfile(form)',
    novalidate=''
    flex,
    layout="column"
  )
    md-input-container
      label Name

      input(
        type='text',
        name='name',
        ng-model='adminAccountEdit.user.name'
      )

      div(ng-messages='form.name.$error')
        p(ng-message="mongoose") {{ vm.errors.other }}

    md-input-container
      label Role

      md-select(
        name='role',
        ng-model="adminAccountEdit.user.role",
        required
      )
        md-option(
          ng-repeat="option in adminAccountEdit.options.role",
          value="{{ option }}"
        ) {{ option }}

      div(ng-messages='form.role.$error')
        p(ng-message="required") Please select role
        p(ng-message="mongoose") {{ vm.errors.other }}

    md-input-container
      label Status

      md-select(
        name='status',
        ng-model="adminAccountEdit.user.status",
        required
      )
        md-option(
          ng-repeat="option in adminAccountEdit.options.status",
          value="{{ option }}"
        ) {{ option }}

      div(ng-messages='form.status.$error')
        p(ng-message="required") Please select role
        p(ng-message="mongoose") {{ vm.errors.other }}

    div
      button.md-button.md-primary(type="submit") Save changes
