div(
  flex,
  layout="column"
)
  md-card
    md-toolbar.md-table-toolbar.md-default
      .md-toolbar-tools
        span Application manager

        div(flex)

        span.md-button.md-icon-button(ui-sref="dev.applicationEdit()")
          md-icon add

        md-button.md-icon-button(ng-click="vm.reload()")
          md-icon refresh

    md-table-container
      table(
        md-table,
        md-row-select,
        multiple,
        ng-model="vm.selected",
        md-progress="promise"
      )
        thead(
          md-head,
          md-order="vm.query.order",
        )
          tr(md-row)
            th(
              md-column,
              md-order-by="name"
            )
              span Name

            th(
              md-column,
              md-order-by="version"
            )
              span Version

            th(
              md-column,
              md-order-by="status"
            )
              span Status

            th(md-column)
              span Updated At

            th(md-column)
              span Created At

            th(md-column)
              span Action

        tbody(md-body)
          tr(
            md-row,
            md-select="application",
            md-on-select="logItem",
            ng-repeat="application in vm.applications | filter: filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit",
            ng-if="vm.applications"
          )
            td(md-cell) {{ application.name }}

            td(md-cell)
              md-select(
                ng-model="application.currentVersionIndex",
                ng-change="vm.changeVersion(application)"
              )
                md-option(
                  ng-repeat="version in application.versions",
                  ng-value="$index"
                )
                  | {{ version.major }}.{{ version.minor }}.{{ version.maintenance }}

            td(md-cell)
              md-select(
                ng-model="application.status",
                ng-change="vm.changeStatus(application)"
              )
                md-option(
                  ng-value="status.value",
                  ng-repeat="status in vm.status"
                )
                  | {{ status.name }}

            td(md-cell)
              span(am-time-ago="application.updatedAt")

            td(md-cell)
              span(am-time-ago="application.createdAt")

            td(md-cell)
              md-button.md-icon-button(ui-sref="dev.applicationEdit({ id: application._id })")
                md-icon mode_edit

              md-button.md-icon-button(ui-sref="dev.applicationUpdate({ id: application._id })")
                md-icon update

              md-button.md-icon-button(ng-click="vm.delete(application)")
                md-icon delete

    md-table-pagination(
      md-limit="vm.query.limit",
      md-limit-options="vm.limitOptions",
      md-page="vm.query.page",
      md-total="{{ vm.applications.length }}",
      md-page-select,
      md-on-paginate="logPagination"
    )
