md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button(
      ng-if="$ctrl.isStateAuth('admin') || $ctrl.isStateAuth('dev')",
      ng-click="$ctrl.mdSidenav('left').toggle()"
    )
      md-icon menu
    a(
      ui-sref="main",
    ) Hystore

    span(flex)

    md-button.md-raised(
      ng-if="!$ctrl.isLoggedIn()",
      ui-sref="login"
    ) Login


    md-menu(ng-if="$ctrl.isLoggedIn()")
      md-button(ng-click="$mdOpenMenu($event)")
        | {{ $ctrl.getCurrentUser().name }}
        md-icon more_vert

      md-menu-content
        md-menu-item(ng-if="$ctrl.isAdmin()")
          md-button(ui-sref="admin.dashboard")
            md-icon security
            | Admin

        md-menu-divider(ng-if="$ctrl.isAdmin()")

        md-menu-item(ng-if="$ctrl.isDev()")
          md-button(ui-sref="dev.dashboard")
            md-icon developer_board
            | Developer

        md-menu-divider(ng-if="$ctrl.isDev()")

        md-menu-item
          md-button(ui-sref="profile")
            md-icon person
            | Profile

        md-menu-divider

        md-menu-item
          md-button(ui-sref="settings")
            md-icon settings
            | Settings

        md-menu-divider

        md-menu-item
          md-button(ui-sref="logout")
            md-icon exit_to_app
            | Logout
