md-toolbar.md-whiteframe-1dp(style="z-index: 100")
  .md-toolbar-tools
    a(
      layout-padding,
      ui-sref="main",
    ) Hystore

    a(
      layout-padding,
      ng-show="$ctrl.isAdmin()",
      ui-sref="admin.dashboard"
    ) Admin

    span(flex)

    a(
      layout-padding,
      ng-hide="$ctrl.isLoggedIn()",
      ui-sref="signup"
    ) Sign up

    a(
      layout-padding,
      ng-hide="$ctrl.isLoggedIn()",
      ui-sref="login"
    ) Login

    a(
      layout-padding,
      ng-show="$ctrl.isLoggedIn()",
      ui-sref="profile"
    ) {{ $ctrl.getCurrentUser().name }}

    a(
      layout-padding,
      ng-show="$ctrl.isLoggedIn()",
      ui-sref="settings"
    )
      .fa.fa-cog

    a(
      layout-padding,
      ng-show="$ctrl.isLoggedIn()",
      ui-sref="logout"
    ) Logout
