div(
  flex,
  layout-gt-sm="row",
  layout-sm="column",
  layout-xs="column"
)
  div(
    flex-offset-gt-sm="15",
    flex-gt-sm="70"
  )
    md-card(ng-if="vm.application")
      img.hide-gt-sm.img-responsive(
        ng-src="{{ vm.application.feature }}",
        alt="{{ vm.application.name }} Feature Image"
      )

      md-card-title
        md-card-title-media.detail-app-icon
          .md-media-lg.hide-sm.hide-xs
            a(ui-sref="application({ id: vm.application._id })")
              img.img-responsive(
                ng-src="{{ vm.application.icon }}",
                alt="{{ vm.application.name }}"
              )

          .md-media-md.hide-gt-sm.hide-xs
            a.full-cover(ui-sref="application({ id: vm.application._id })")
              img.img-responsive(
                ng-src="{{ vm.application.icon }}",
                alt="{{ vm.application.name }}"
              )

          .md-media-sm.hide-gt-xs
            a.full-cover(ui-sref="application({ id: vm.application._id })")
              img.img-responsive(
                ng-src="{{ vm.application.icon }}",
                alt="{{ vm.application.name }}"
              )

        md-card-title-text
          span.md-title {{ vm.application.name }}
          span.md-subhead(layout="row")
            a(ui-sref="main({ author: vm.application.author._id })") {{ vm.application.author.name || 'Unknown' }}
            | &nbsp;
            a(ui-sref="main({ category: vm.application.category._id })") {{ vm.application.category.name || 'Unknown' }}

      md-card-action(ng-if="vm.isLoggedIn()")
        md-button.md-raised.md-primary(
          ng-if="!vm.isInstalled",
          ng-click="vm.installApp()",
          style="margin-left: 16px"
        )
          | Install

        md-button.md-accent(
          ng-if="vm.isInstalled",
          ng-click="vm.uninstallApp()",
          style="margin-left: 16px"
        )
          | Uninstall

        md-button.md-raised.md-warn(
          ng-if="vm.isInstalled && !vm.isUpdated",
          ng-click="vm.installApp()",
        )
          | Update

        md-button.md-raised.md-primary(
          ng-if="vm.isInstalled && vm.isUpdated",
          ng-click="vm.openApp()",
        )
          | Open

      md-card-content
        div.carousel-wrapper
          ul(
            rn-carousel,
            rn-carousel-controls,
            rn-carousel-controls-allow-loop,
            slides="vm.application.screenshots",
            ng-if="vm.application.screenshots.length > 0"
          )
            li(ng-repeat="screenshot in vm.application.screenshots")
              img.img-fluid(ng-src="{{screenshot}}")

        h2.md-title Description

        div(ng-bind-html="vm.application.description")

        md-divider(style="margin-top: 20px;")

        div(ng-if="vm.application.whatsnew")
          h2.md-title What's New

          div(ng-bind-html="vm.application.whatsnew")

        md-divider(
          style="margin-top: 20px;",
          ng-if="vm.application.whatsnew"
        )

        div
          md-card-title
            md-card-title-text(layout="row")
              h2.md-title Reviews
              span(flex)
              md-button.md-raised(
                ng-if="vm.isLoggedIn()",
                ng-click="vm.showReviewDialog($event)"
              )
                md-icon mode_edit
                | Write Review

          div(
            layout="column",
            layout-gt-xs="row",
            layout-padding
          )
            .score-container(
              flex,
              flex-gt-xs="33",
              layout-gt-xs="column",
              layout-align="center center"
            )
              .score.md-display-3 {{ vm.getAverageStar() }}
              .reviews-stats.md-title
                md-icon person
                | {{ vm.getTotalStar() }}

            .rating-histogram(
              flex,
              layout="column"
              ng-if="vm.application.stars"
            )
              .rating-bar-container(
                layout="row",
                ng-repeat="star in vm.application.stars",
                class="vm.starClasses[$index]"
              )
                .bar-label(flex-nogrow)
                  md-icon star
                  | {{ $index + 1 }}
                .bar(flex)
                  .bar-background(style="width: {{ vm.getStarPercent($index) }}%")
                    span.bar-number.md-body-1 {{ star }}

          md-list
            md-list-item.md-3-line.md-long-text(ng-repeat="review in vm.reviews")
              img.md-avatar(
                ng-src="{{ review.avatar }}",
                alt="{{ review.email }}"
              )
              .md-list-item-text
                span.md-headline {{ review.name }}
                | &nbsp;
                span.md-subhead(am-time-ago="review.createdAt")
                .md-title
                  md-icon(ng-repeat="star in vm.getRepeatTime(review.star) track by $index") star
                  md-icon(ng-repeat="star in vm.getRepeatTime(5 - review.star) track by $index") star_border
                p.md-body-1 {{ review.content }}


    div(
      flex,
      layout="column",
      ng-if="vm.similarApps"
    )
      div(layout="row")
        h2.md-headline(
          flex,
          layout-margin
        )
          | Similar

      div(
        flex,
        layout="row"
      )
        md-card(
          ng-repeat="similarApp in vm.similarApps",
          flex-xs="45",
          flex-gt-xs="20",
          flex-gt-sm="15",
          layout-gt-sm="column",
          layout-padding
        )
          md-card-content
            .md-media-md.card-media
              a.full-cover(ui-sref="application({ id: similarApp._id })")
                img.img-responsive(
                  ng-src="{{ similarApp.icon }}",
                  alt="{{ similarApp.name }}"
                )

          md-card-title
            md-card-title-text.text-overflow
              a.md-title(ui-sref="application({ id: similarApp._id })") {{ similarApp.name }}
              a.md-subhead.np(ui-sref="main({ author: similarApp.author._id })") {{ similarApp.author.name }}
