div(
  flex,
  layout="column",
)
  md-toolbar.md-hue-1
    .md-toolbar-tools
      md-select.md-no-underline(
        ng-model="vm.category",
        placeholder="Category"
      )
        md-option(
          ng-repeat="cat in vm.categories",
          ng-click="vm.goCategory(cat._id)",
          ng-value="cat._id"
        ) {{ cat.name }}

  div(
    flex,
    layout="column"
  )
    div(
      layout="row",
    )
      h2.md-headline(
        flex,
        layout-margin
      )
        span(ng-if="vm.applications.length") New + Updated Apps
        span(ng-if="!vm.applications.length") No applications found

    div(
      flex,
      layout="row",
      layout-wrap
    )
      md-card(
        ng-repeat="application in vm.applications",
        flex-xs="45",
        flex-gt-xs="20",
        flex-gt-sm="15",
        flex="10",
        layout-gt-sm="column",
        layout-padding
      )
        md-card-content
          .md-media-md.card-media
            a.full-cover(
              ui-sref="application({ id: application._id })",
              style="background-image: url('{{ application.icon }}')"
            )
              img.img-responsive(
                ng-src="{{ application.icon }}",
                alt="{{ application.name }}"
              )

        md-card-title
          md-card-title-text.text-overflow
            a.md-title(ui-sref="application({ id: application._id })") {{ application.name }}
            a.md-subhead.np(ui-sref="main({ author: application.author._id })") {{ application.author.name }}
