section(
  flex,
  layout="row",
  layout-fill
)
  md-sidenav.md-sidenav-left(
    md-component-id='left',
    md-whiteframe='3',
  )
    md-content
      md-list.np
        md-toolbar
          h1.md-toolbar-tools Dev site
        md-list-item(ui-sref="dev.dashboard")
          md-icon dashboard
          p Dashboard

        md-divider

        md-list-item(ui-sref="dev.review")
          md-icon email
          p Message
          .md-secondary
            | 99

        md-divider

        md-list-item(ui-sref="dev.application")
          md-icon apps
          p Application manager

        md-divider

  md-content(
    flex,
    layout="column",
    ui-view=""
  )
