div(
  flex,
  layout="column"
)
  md-card(flex="none")
    md-card-header
      md-card-header-text
        span.md-title {{ vm.isEdit ? 'Edit' : 'Add' }} Application
    form(
      name="form",
      ng-submit="vm.saveApplication(form)",
      novalidate
    )
      md-card-content
        md-input-container.md-block
          label Name

          input(
            type="text",
            name="name",
            ng-model="vm.application.name",
            required
          )

          div(ng-messages="form.name.$error")
            p(ng-message="required") What's your application name?
            p(ng-message="mongoose") {{ vm.errors.other }}

        .input-wrapper(
          ng-if="!vm.isEdit"
          flex="none",
          layout="row"
        )
          input.ng-hide(
            type="file",
            id="archive",
            ngf-select,
            ng-model="vm.application.archive",
            name="archive",
            required,
            flex
          )

          label.md-button.md-raised.md-primary(for="archive") Select zip

          p {{ vm.application.archive.name || 'No file chosen' }}

        .input-preview(
          flex="none",
          layout="column"
        )
          .input-wrapper(
            flex="none",
            layout="row"
          )
            input.ng-hide(
              type="file",
              ng-model="vm.application.icon",
              name="icon",
              required
            )

            .button-wrapper(
              flex="none",
              layout="row"
            )
              md-button.md-raised.md-primary(
                ngf-select,
                ng-model="vm.temp.icon",
                accept="image/*"
              )
                | Select icon

            p {{ vm.temp.icon.name || 'No file chosen' }}

          .preview-wrapper(
            flex="none",
            layout="row"
          )
            .crop-area.crop-area--square(
              flex="none",
              ng-if="vm.temp.icon",
              ngf-drop,
              ng-model="vm.temp.icon",
              ngf-pattern="image/*"
            )
              img-crop(
                image="vm.temp.icon | ngfDataUrl",
                result-image="vm.application.icon",
                ng-init="vm.application.icon = ''"
                area-type="square",
                flex="none"
              )

            div(ng-if="vm.application.icon")
              img(ng-src="{{ vm.application.icon }}")

        .input-preview(
          flex="none",
          layout="column"
        )
          .input-wrapper(
            flex="none",
            layout="row"
          )
            input.ng-hide(
              type="file",
              id="feature",
              ngf-select,
              ng-model="vm.application.feature",
              name="feature",
              required,
              accept="image/*"
            )

            label.md-button.md-raised.md-primary(for="feature") Select feature

            p {{ vm.application.feature.name || 'No file chosen' }}

          .preview-wrapper(
            flex="none",
            layout="row",
            ng-if="vm.application.feature"
          )
            .image-preview(flex)
              img.img-fill(ngf-src="vm.application.feature")

        .input-preview(
          flex="grow",
          layout="column"
        )
          .input-wrapper(
            flex="none",
            layout="row"
          )
            input.ng-hide(
              type="file",
              id="screenshots",
              ngf-select,
              ngf-multiple="true",
              ng-model="vm.application.screenshots",
              name="screenshots",
              required,
//              accept="image/*"
            )

            label.md-button.md-raised.md-primary(for="screenshots") Select screenshots(3 -> 8 pics)

            p(ng-if="vm.application.screenshots")
              span(ng-repeat="screenshot in vm.application.screenshots") {{ screenshot.name }},&nbsp;

            p(ng-if="!vm.application.screenshots") No file chosen

          div(
            layout-xs="column",
            layout-gt-xs="row"
          )
            div(
              flex,
              flex-sm="50",
              flex-md="25",
              ng-repeat="screenshot in vm.application.screenshots"
            )
              img.img-fill(
                ngf-src="screenshot",
                ngf-background="screenshot",
                flex="none"
              )

        .category-wrapper.md-block
          md-autocomplete(
            ng-if="vm.categories",
            md-input-field="category",
            md-selected-item="vm.application.category",
            md-items="category in vm.querySearch(vm.searchText)",
            md-item-text="category.name",
            md-search-text="vm.searchText",
            md-search-text-change="vm.querySearch(vm.searchText)"
            md-floating-label="Category",
            md-require-match,
            required
          )
            md-item-template
              span(md-highlight-text="vm.searchText") {{ category.name }}

            div(ng-messages='form.category.$error')
              p(ng-message="required") Please select category

              p(ng-message="mongoose") {{ vm.errors.other }}

        .md-block
          label Description

          trix-editor(
            angular-trix,
            ng-model="vm.application.description"
          )

          div(ng-messages='form.desc.$error')
            p(ng-message="required") What's your description?
            p(ng-message="mongoose") {{ vm.errors.other }}

        .version-wrapper(
          ng-if="!vm.isEdit"
          flex="none",
          layout="column"
        )
          h4.md-title Version

          .version-input-group(
            flex="none",
            layout="row"
          )
            md-input-container(flex="none")
              label Major

              input(
                type="number",
                name="major",
                ng-model="vm.application.major",
                required
              )

              div(ng-messages="form.version.$error")
                p(ng-message="required") What's your application version?
                p(ng-message="mongoose") {{ vm.errors.other }}

            md-input-container(flex="none")
              Label Minor

              input(
                type="number",
                name="minor",
                ng-model="vm.application.minor",
                required
              )

              div(ng-messages="form.version.$error")
                p(ng-message="required") What's your application version?
                p(ng-message="mongoose") {{ vm.errors.other }}

            md-input-container(flex="none")
              Label Maintenance

              input(
                type="number",
                name="maintenance",
                ng-model="vm.application.maintenance",
                required
              )

              div(ng-messages="form.version.$error")
                p(ng-message="required") What's your application version?
                p(ng-message="mongoose") {{ vm.errors.other }}

      md-card-actions
        button.md-button.md-primary(type="submit") {{ vm.isEdit ? 'Save change' : 'Create' }}

  md-card(
    flex="none",
    ng-if="this.application.versions"
  )
    md-toolbar.md-table-toolbar.md-default
      .md-toolbar-tools
        span Versions

        div(flex)

        md-button.md-icon-button(ui-sref="dev.applicationUpdate({ id: vm.application._id })")
          md-icon add

        md-button.md-icon-button(ng-click="vm.reload()")
          md-icon refresh

    md-table-container
      table(md-table)
        thead(md-head)
          tr(md-row)
            th(md-column)
              span Version

            th(md-column)
              span What's new

            th(md-column)
              span Status

        tbody(md-body)
          tr(
            md-row,
            ng-repeat="version in vm.application.versions"
          )
            td(md-cell) {{ version.major }}.{{ version.minor }}.{{version.maintenance}}

            td(md-cell) {{ version.whatsnew }}

            td(md-cell) depublish

    md-table-pagination
