div(
  flex,
  layout="row",
  layout-align="center center"
)
  div(
    flex,
    flex-sm="50",
    flex-md="33",
    flex-lg="25",
    layout="column"
  )

    md-card
      md-card-header
        md-card-header-text
          span.md-title.text-center Sign up
      form(
        name="form",
        ng-submit="vm.register(form)",
        novalidate,
      )
        md-card-content(layout="column")
          md-input-container
            label Name

            input(
              type="text",
              name="name",
              ng-model="vm.user.name",
              required
            )

            div(ng-messages="form.name.$error", md-auto-hide="true")
              p(ng-message="required") A name is required

          md-input-container
            label Email

            input(
              type="email",
              name="email",
              ng-model="vm.user.email",
              required,
              mongoose-error
            )

            div(ng-messages="form.email.$error" multiple)
              p(ng-message="required") What's your email address?
              p(ng-message="email") Doesn't look like a valid email.
              p(ng-message"mongoose") {{ vm.errors.email }}

          md-input-container
            label Password

            input(
              type="password",
              name="password",
              ng-model="vm.user.password",
              mongoose-error,
              ng-minlength="3",
              required
            )

            div(ng-messages="form.password.$error" multiple)
              p(ng-message="required") What's your password?
              p(ng-message="minlength") Password must be at least 3 characters.
              p(ng-message="mongoose") {{ vm.errors.password }}

          md-input-container
            label Confirm Password

            input(
              type="password",
              name="confirmPassword",
              ng-model="vm.user.confirmPassword",
              match="vm.user.password",
              ng-minlength="3",
              required
            )

            div(ng-messages="form.confirmPassword.$error")
              p(ng-message="match") Passwords must match.

        md-card-actions
          button.md-button.md-primary(type="submit") Sign up
          a.md-button(ui-sref="login") Login
