div(
  flex,
  layout="column",
  layout-padding
)
  h1.md-display-1 Change Profile

  form(
    name='form',
    ng-submit='vm.changeProfile(form)',
    novalidate='',
    flex,
    layout="column"
  )
    md-input-container
      label Name

      input(
        type='text',
        name='name',
        ng-model='vm.user.name',
        mongoose-error='',
        required
      )

      div(ng-messages='form.name.$error')
        p(ng-message="required")
        p(ng-message="mongoose") {{ vm.errors.other }}

  div
    button.md-button.md-primary(type='submit') Save changes
