div(
  flex,
  layout="column"
)
  md-card
    md-toolbar.md-table-toolbar.md-default(ng-hide="vm.selected.length")
      .md-toolbar-tools
        span Account manager
        div(flex)
        md-button.md-icon-button(ng-click="vm.reload()")
          md-icon refresh
    md-toolbar.md-table-toolbar.alternate(ng-show="vm.selected.length")
      .md-toolbar-tools
        span {{ vm.selected.length }} {{ vm.selected.length > 1 ? 'items' : 'item' }} selected
    md-table-container
      table(
        md-table,
        md-row-select,
        multiple,
        ng-model="vm.selected",
        md-progress="promise"
      )
        thead(
          md-head,
          md-order="vm.query.order",
        )
          tr(md-row)
            th(
              md-column,
              md-order-by="name"
            )
              span Name
            th(
              md-column,
              md-order-by="email"
            )
              span Email
            th(
              md-column,
              md-order-by="role"
            )
              span Role
            th(
              md-column,
              md-order-by="status"
            )
              span Status
            th(md-column)
              span Action
        tbody(md-body)
          tr(
            md-row,
            md-select="user",
            md-on-select="logItem",
            ng-repeat="user in vm.users | filter: filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit"
          )
            td(md-cell) {{ user.name }}
            td(md-cell) {{ user.email }}
            td(md-cell)
              md-select(ng-model="user.role")
                md-option(
                  ng-value="roles.value",
                  ng-repeat="roles in vm.roles"
                )
                  | {{ roles.name }}
            td(md-cell)
              md-select(ng-model="user.status")
                md-option(
                  ng-value="status.value",
                  ng-repeat="status in vm.status"
                )
                  | {{ status.name }}
            td(md-cell)
              span.md-button.md-icon-button(ui-sref="admin.accountEdit({ id: user._id })")
                md-icon mode_edit

              span.md-button.md-icon-button(ng-click="vm.delete(user)")
                md-icon delete
    md-table-pagination(
      md-limit="vm.query.limit",
      md-limit-options="vm.limitOptions",
      md-page="vm.query.page",
      md-total="{{ vm.users.length }}",
      md-page-select,
      md-on-paginate="logPagination"
    )
