div(
  flex,
  layout="column"
)
  md-card
    md-toolbar.md-table-toolbar.md-default(ng-hide="vm.selected.length")
      .md-toolbar-tools
        span Category manager
        div(flex)
        span.md-button.md-icon-button(ui-sref="admin.categoryEdit()")
          md-icon add
        md-button.md-icon-button(ng-click="vm.reload()")
          md-icon refresh
    md-toolbar.md-table-toolbar.alternate(ng-show="vm.selected.length")
      .md-toolbar-tools
        span {{ vm.selected.length }} {{ vm.selected.length > 1 ? 'items' : 'item' }} selected
    md-table-container
      table(
        md-table,
        md-row-select,
        multiple,
        ng-model="vm.selected",
        md-progress="promise"
      )
        thead(
          md-head,
          md-order="vm.query.order",
        )
          tr(md-row)
            th(
              md-column,
              md-order-by="name"
            )
              span Name

            th(
              md-column,
              md-order-by="slug"
            )
              span Slug

            th(md-column)
              span Infomation

            th(
              md-column,
              md-order-by="parent"
            )
              span Parent

            th(
              md-column,
              md-order-by="status"
            )
              span Status

            th(md-column)
              span Action

        tbody(md-body)
          tr(
            md-row,
            md-select="category",
            md-on-select="logItem",
            ng-repeat="category in vm.categories | filter: filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit"
          )
            td(md-cell) {{ category.name }}

            td(md-cell) {{ category.slug }}

            td(md-cell) {{ category.info }}

            td(md-cell)
              md-select(ng-model="category.parent._id")
                md-option(
                  ng-value="parent._id",
                  ng-repeat="parent in vm.categories"
                )
                  | {{ parent.name }}

            td(md-cell)
              md-select(ng-model="category.status")
                md-option(
                  ng-value="status.value",
                  ng-repeat="status in vm.status"
                )
                  | {{ status.name }}

            td(md-cell)
              span.md-button.md-icon-button(ui-sref="admin.categoryEdit({ slug: category._id })")
                md-icon mode_edit

              span.md-button.md-icon-button(ng-click="vm.delete(category)")
                md-icon delete

    md-table-pagination(
      md-limit="vm.query.limit",
      md-limit-options="vm.limitOptions",
      md-page="vm.query.page",
      md-total="{{ vm.categories.length }}",
      md-page-select,
      md-on-paginate="logPagination"
    )
